/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('IMAGENES/fondo.png');
    background-size: cover;
    background-position: center;
    color: #000000; /* Color de texto general */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    padding: 20px;
}

.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    margin-right: 20px; /* Espacio entre elementos de la lista */
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #000000; /* Color negro */
    display: block;
    font-weight: bold;
}

.menu .navbar ul li a:hover {
    background-color: #ddd; /* Fondo gris claro al pasar el ratón */
}

.menu .navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu .navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu .navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}

.menu .navbar ul li:hover .dropdown-content {
    display: block;
}

.menu .navbar .dropdown:hover .dropdown-content {
    display: block;
}

.menu .navbar .dropdown-content {
    display: none;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

h1 {
    margin: 80px 0 0 350px;
}

/* Estilos para la sección "Sobre Mi" */
#sobre-mi {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
}

#sobre-mi h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

#sobre-mi p {
    font-size: 18px;
    line-height: 1.6;
}

#sobre-mi ul {
    padding-left: 20px;
}

/* Estilos para la galería de "Trabajos Prácticos" */
#trabajos-practicos {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

#trabajos-practicos h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image {
    margin: 10px;
}

.image img {
    width: 300px; /* Ajusta el tamaño de las imágenes según sea necesario */
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.image img:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el ratón */
}

/* Estilos adicionales para la sección "Proyecto de Video" */
#video-proyecto {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

#video-proyecto h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

#video-proyecto iframe {
    width: 100%; /* Ajusta el ancho del video al contenedor */
    max-width: 800px; /* Ancho máximo del video */
    height: auto; /* Altura automática para mantener la proporción */
    margin-top: 20px;
}

/* Estilos para los elementos "Mini Juego" y "Calculadora de Proyecto" en el menú */
.menu .navbar ul li:nth-child(4),
.menu .navbar ul li:nth-child(5) {
    position: relative;
    float: left;
    margin-right: 20px; /* Espacio entre elementos de la lista */
    z-index: 100; /* Asegura que esté por encima de otros elementos */
}

.menu .navbar ul li:nth-child(4) a,
.menu .navbar ul li:nth-child(5) a {
    font-size: 18px;
    padding: 20px;
    color: #000000; /* Color negro */
    display: block;
    font-weight: bold;
    z-index: 100; /* Asegura que esté por encima de otros elementos */
}

.menu .navbar ul li:nth-child(4) a:hover,
.menu .navbar ul li:nth-child(5) a:hover {
    background-color: #ddd; /* Fondo gris claro al pasar el ratón */
}

/* Media Query para dispositivos móviles */
@media (max-width: 991px) {
    .content {
        min-height: 70px;
    }

    .menu {
        top: 0;
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: linear-gradient(
            90deg,
            rgba(203,18,133,1) 0%,
            rgba(80,49,145,1) 70%
        );
        display: none;
    }

    .menu .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .menu #menu:checked ~ .navbar {
        display: flex;
    }

    .menu .navbar ul li {
        margin: 10px 0;
    }

    /* Estilos adicionales para la sección "Sobre Mi" en dispositivos móviles */
    #sobre-mi {
        padding: 10px;
    }

    #sobre-mi h2 {
        font-size: 24px;
    }

    #sobre-mi p {
        font-size: 16px;
    }

    #sobre-mi ul {
        padding-left: 10px;
    }

    /* Estilos adicionales para la galería de "Trabajos Prácticos" en dispositivos móviles */
    #trabajos-practicos {
        padding: 10px;
    }

    #trabajos-practicos h2 {
        font-size: 24px;
    }

    /* Estilos adicionales para la sección "Proyecto de Video" en dispositivos móviles */
    #video-proyecto {
        padding: 10px;
    }

    #video-proyecto h2 {
        font-size: 24px;
    }
}

/* Estilos para el carousel */
.slideshow-container {
    max-width: 800px; /* Ancho máximo del carousel */
    position: relative;
    margin: auto;
    overflow: hidden;
    margin-top: 20px; /* Ajuste de margen superior */
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 50%; /* Reducción del tamaño de las imágenes al 50% */
    height: auto; /* Altura automática para mantener la proporción */
    margin: auto; /* Centra las imágenes horizontalmente */
    display: block; /* Asegura que las imágenes se muestren como bloques */
    margin-top: 20px; /* Margen superior para separación */
}

/* Estilos para las flechas de navegación */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.8);
}
/* Estilos para las redes sociales */
.redes-sociales {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.redes-sociales a {
    display: inline-block;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.redes-sociales img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.redes-sociales a:hover {
    transform: scale(1.1);
}


.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Estilos para los puntos de navegación */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px
