body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121212;
    color: #ffffff;
}

.calculator {
    background-color: #212121;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

.display {
    background-color: #000000;
    color: #ffffff;
    font-size: 2em;
    text-align: right;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: #333333;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    color: #ffffff;
}

button.function {
    background-color: #636363;
}

button.operator {
    background-color: #ff9500;
    color: #ffffff;
}

button.equals {
    background-color: #ff3b30;
    color: white;
    grid-column: span 2;
}

button.zero {
    grid-column: span 2;
}

button:hover {
    background-color: #444444;
}

button.function:hover {
    background-color: #757575;
}

button.operator:hover {
    background-color: #ffb84d;
}

button.equals:hover {
    background-color: #ff5c4d;
}
