
.hole{
width: 200px;
height: 200px;
border-style: solid;
border-color: black;
}
.grid{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;

}

.topo{
    background-image: url(topopng.webp);
    background-size: cover;
}